 <div style="margin: 20px;">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="title">Product Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="title"
                 [value]="selectedProduct.title"
                 [title]="selectedProduct.title"
                 >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Description"
                 [value]="selectedProduct.description"
                 [title]="selectedProduct.description"
                 >
              </mat-form-field>  
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Price"
                 type="number"
                 [value]="selectedProduct.price"
                 [title]="selectedProduct.price"
                 >
              </mat-form-field>   
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Quantity"
                 type="number"
                 [value]="selectedProduct.quantity"
                 [title]="selectedProduct.quantity"
                 >
              </mat-form-field>   
              <div *ngIf='images.length>0'>
               <h3>Images</h3>    
             <div class="d-flex justify-content-center" >
                <mat-card class="example-card" *ngFor="let img of images" style="margin-left: 10px;">
                  <img mat-card-image [src]="imgUrl+img.path" style="width: 20rem;height: 20rem;" alt="Product image">
                </mat-card>
                </div>             
              </div>
              <div *ngIf='images.length==0'>
                <h3>There isn't any image for this product</h3>
                </div>
    
        </mat-card-content>
      </mat-card>
    </div>
