<div class='container' style="margin: 20px; width: 100%;">
    <div  class='row' style="margin-top: 10px;">
    <button *ngIf='isAdmin' mat-button color="primary" (click)="openAddDialog()">Add Product
      <mat-icon>add</mat-icon>
    </button> 
    <button mat-button color="primary" routerLink="/product">View as cards
      <mat-icon>visibility</mat-icon>
    </button> 
   </div>
</div>
<div class="row" style="width: 100%;">
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"  >
   
     <ng-container matColumnDef="Title">
       <th mat-header-cell *matHeaderCellDef > Title </th>
       <td mat-cell *matCellDef="let element"> {{element.title}} </td>
     </ng-container>
     <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="Price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>
     <ng-container matColumnDef="Edit">
       <th mat-header-cell *matHeaderCellDef></th>
       <td mat-cell *matCellDef="let element" > 
           <button *ngIf='isAdmin'  mat-button color="primary" (click)="openEditDialog(element.id)"
           >
               <mat-icon>create</mat-icon> 
            </button>
           <button *ngIf='isAdmin'  mat-button color="primary"
           (click)="onDelete(element)">
           <mat-icon>delete</mat-icon> 
           </button>  
           <button  [routerLink]="['/productDetails', element.id]" mat-icon-button color="primary" aria-label="details">
            <mat-icon>menu</mat-icon></button>
       </td>
     </ng-container>
   
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table>
   <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons style="width: 100%;"></mat-paginator>
  </div>
