<div class="main-div" style="margin-top: 20px;">

   <mat-card >
        <mat-card-header>
          <mat-card-title >Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="userName"
                 [(ngModel)]="credentials.userName"
                 [name]="credentials.userName"
                 ngModel
                 #userName="ngModel"
                  required>
                 <mat-error 
                 *ngIf="userName.touched && !userName.valid">
                 userName is required</mat-error>
   <mat-error 
                 *ngIf="invalidLogin">
                 Invalid username or password.</mat-error> 
              </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="password"
                type="password" 
                 [(ngModel)]="credentials.password"
                 [name]="credentials.password"
                 ngModel
                 #password="ngModel"
                 required>
               
                 <mat-error 
                 *ngIf="password.touched && !password.valid">
                 password is required</mat-error>
               <mat-error 
                 *ngIf="invalidPassword">
                 password length must be 6 atleast and password must contain 1 digit atleast</mat-error> 
              </mat-form-field>    
        </mat-card-content> 

       <mat-card-actions>
          <button mat-button
           (click)="login()">
           <mat-icon>
             save
            </mat-icon>
          </button>
          <!-- <button mat-button
          (click)="register()">
          <mat-icon>
            input
           </mat-icon>
         </button> -->
          <button mat-button (click)='onNoClick()'>
            <mat-icon>
              cancel
            </mat-icon>
          </button>
        </mat-card-actions> 
      </mat-card> 
 
    </div> 
