<div class='container' style="margin: 20px;">
    <div  class='row' style="margin-top: 10px;">
    <button *ngIf='isAdmin' mat-button color="primary" (click)="openAddDialog()">Add Product
      <mat-icon>add</mat-icon>
    </button> 
    <button mat-button color="primary" routerLink="/productview">View as table  
      <mat-icon>view_module</mat-icon>
    </button> 
   </div>
<div class="row d-flex justify-content-left">
<mat-card class="example-card col-md-3" *ngFor="let product of Products" style="margin: 10px 10px; background-color: lightgray;">
  <mat-card-header>
    <mat-card-title>{{product.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="product.productImages[0]?imgUrl+product.productImages[0].path:'https://images.squarespace-cdn.com/content/594d2f5203596e6d6f73a360/1498485078524-EK5B4BS9SF8IAN4XCVQB/shopping-cart-grocery-store.jpg?content-type=image%2Fjpeg'" style="width: 20rem;height: 20rem;" alt="Product image">
  <mat-card-content>
    <p>
      {{product?product.description:''}}
    </p>
    <h3 >Price : {{product.price}}</h3>
    <h3>Quantity : {{product.quantity}}</h3>
  </mat-card-content>
  <mat-card-actions >
    <div class="d-flex justify-content-center" >
      <div *ngIf='isAdmin'>
  <button mat-icon-button color="primary" aria-label="delete" (click)='openEditDialog(product.id)'>
        <mat-icon>edit</mat-icon></button>
      </div>
      <div *ngIf='isAdmin'>
        <button mat-icon-button color="primary" aria-label="delete" (click)='onDelete(product)'>
      <mat-icon>delete</mat-icon></button>
      </div>
    <div>
        <button  [routerLink]="['/productDetails', product.id]" mat-icon-button color="primary" aria-label="details">
      <mat-icon>menu</mat-icon></button>
    </div>
  
    </div>
  </mat-card-actions>
</mat-card>
</div>
   <!-- <table mat-table [dataSource]="Productss" class="mat-elevation-z8">
   
     <ng-container matColumnDef="Name">
       <th mat-header-cell *matHeaderCellDef> Name </th>
       <td mat-cell *matCellDef="let element"> {{element.name}} </td>
     </ng-container>


     <ng-container matColumnDef="Edit">
       <th mat-header-cell *matHeaderCellDef></th>
       <td mat-cell *matCellDef="let element" > 
           <button mat-button  (click)="openEditDialog(element.id)"
           >
               <mat-icon>create</mat-icon> 
            </button>
           <button mat-button 
           (click)="onDelete(element)">
           <mat-icon>delete</mat-icon> 
           </button>  
       </td>
     </ng-container>
   
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   </table> -->
</div>