 <div >
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title class="title">Product {{operationType=="Edit"?'Editor':'Add'}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="title"
                 [(ngModel)]="selectedProduct.title"
                 [name]="selectedProduct.title"
                 ngModel
                 #title="ngModel"
                  required>
                 <mat-error 
                 *ngIf="title.touched && !title.valid">
                  title is required</mat-error>
              </mat-form-field>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="description"
                 [(ngModel)]="selectedProduct.description"
                 [name]="selectedProduct.description"
                 ngModel
                 #description="ngModel"
                 required>
                </textarea>
                 <mat-error 
                 *ngIf="description.touched && !description.valid">
                 description is required</mat-error>
                 
              </mat-form-field>    
              <mat-form-field class="example-full-width">
                <input matInput placeholder="price"
                 [(ngModel)]="selectedProduct.price"
                 [name]="selectedProduct.price"
                 ngModel
                 #price="ngModel"
                 required
                 type="number"
                 >
                 <mat-error 
                 *ngIf="price.touched && !price.valid">
                 price is required</mat-error>
              </mat-form-field>  
              <mat-form-field class="example-full-width">
                <input matInput placeholder="quantity"
                 [(ngModel)]="selectedProduct.quantity"
                 [name]="selectedProduct.quantity"
                 ngModel
                 #quantity="ngModel"
                 required
                 type="number">
                 <mat-error 
                 *ngIf="quantity.touched && !quantity.valid">
                 quantity is required</mat-error>
              </mat-form-field>
             <div *ngIf="operationType=='Add'">
             <p>Product Images</p>
              <input type="file" id="img" name="img" accept="image/*" (change)="uploadFile($event)">
             </div>
             <div *ngIf='productImages.length>0'>
              <h3>Images</h3>    
            <div class="d-flex justify-content-center" >
               <mat-card class="example-card" *ngFor="let img of productImages" style="margin-left: 10px;height: 10rem;">
                 <img mat-card-image [src]="imgUrl+img" style="width: 20rem;height: 10rem;" alt="Product image">
               </mat-card>
               </div>             
             </div>
            
        </mat-card-content>

        <mat-card-actions>
          <button mat-button
           (click)="onSave(selectedProduct)">
           <mat-icon>
             save
            </mat-icon>
          </button>
          <button mat-button (click)='onNoClick()'>
            <mat-icon>
              cancel
            </mat-icon>
          </button>
        </mat-card-actions> 
      </mat-card>
    </div> 

    