.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
}
.web-toolbar{
  position: fixed;
  width: 100%;
  height: 150px;
}
.web-main{
  position: relative;
  top: 2rem;
}
