
<div class="example-container row">
  <mat-toolbar color="primary" class="example-toolbar">
    
    <div class='col-md-9'>
    <button mat-button  routerLink="/productview"> <h1 class="example-app-name"> <mat-icon style="margin-right: 5px;">shopping_cart</mat-icon>Product Store</h1>
    </button> 
  </div>
  <div  class='col-md-1'>
    <button mat-button (click)='logout()'  routerLink="/login">Logout
      <mat-icon>arrow_back</mat-icon>
    </button> 
      </div>
    <div  class='col-md-1'>
      <button mat-button  routerLink="/login">Login
        <mat-icon>input</mat-icon>
      </button> 
        </div>

  </mat-toolbar></div>
  <br>
  <br>

  <div class="row" style="margin: 20px; width: 100%;" >
      <router-outlet></router-outlet>
  </div>


