/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
    margin:5
}
.example-full-width {
    width: 100%;
  }
  .title{
    color: #3f51b5;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .select{
    width:70%
  }